/* jCarousel by Jan Sorgalla */

.jcarousel-wrapper {
    position: relative;

}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    opacity: .7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .25;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin: 0;
    margin-left: -22px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 15px;
    width: 15px;
    line-height: 10px;

    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;

    -webkit-box-shadow: 0 0 2px #fff;
       -moz-box-shadow: 0 0 2px #fff;
            box-shadow: 0 0 2px #fff;
}

.jcarousel-pagination a.active {
    background: #fff;

    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
       -moz-box-shadow: 0 0 2px #F0EFE7;
            box-shadow: 0 0 2px #F0EFE7;
}