@font-face {
  font-family: "MuseoSans100";
  src: url(../fonts/MuseoSans_100.otf);
}
@font-face {
  font-family: "MuseoSans500";
  src: url(../fonts/MuseoSans_500.otf);
}
@font-face {
  font-family: "MuseoSans900";
  src: url(../fonts/MuseoSans_900.otf);
}
@font-face {
  font-family: "MuseoSans300";
  src: url(../fonts/MuseoSans_300.otf);
}
@font-face {
  font-family: "MuseoSlab500";
  src: url(../fonts/Museo_Slab_500.otf);
}

/*-- Grid System --*/
.grid-container {
  width: 100%;
  max-width: 1680px;
  min-width: 1090px;
  /*margin:0 auto;*/
  box-sizing:border-box;
}

/*-- cleafix hack -- */
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}
.outline, .outline *{
  outline: 1px solid #F6A1A1;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.col-1-pix {width: 20%}
.col-2-pix {width: 40%;}
.col-3-pix {width: 60%}
.col-4-pix {width: 80%}
.col-5-pix {width: 100%}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

/*-- General Styling --*/

a {
  text-decoration: none;
  color:#b7b6b5;
  font-size: .8em;
}

a:hover {color: #96c900;}

ul {
  text-align: left;
  list-style-type: none;
}

ul li {
  text-decoration: none;
  display: inline;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


/*-- Header Styles --*/
header{
  height: 50px;
  background-color:#333333;
  width: 100%;
}

header ul{
  margin:0;
  padding:20px 5px 5px 0;
}


  /*-- Carousel --*/
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}

  /*-- Adventure blocks --*/
.adventures{
}

/*-- Deals Styles --*/
.deals {
  background-color:#282929;
  height: 170px;
  width: 100%;
  color: #767676;
  text-align: center;
}

.deals .epic {
  font-family: "MuseoSans300";
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 45px;
}

.deals .line {
  margin:0 auto;
  margin-top: 5px;
  width: 90px;
  border-top: 2px solid #767676;
}

.deals .experience {
  margin-top: 10px;
  font-family: "MuseoSans100";
  font-weight: 100;
  font-size: 1.2em;
  letter-spacing: 1.2px;
}

/*-- Upgrade blocks --*/
.upgrade {
  width: 100%;
  height:360px;
}

.upgrade .square {
  width: 25vw;
  height: 25vw;
  background:#ddd;
  float: left;
}

.upgrade .first_img {
  max-width: 100%
  background: url(../img/upgrade_beach.jpg);
}

/*-- Footer Style --*/
footer {
  width: 100%;
  height: 270px;
  background: #282929;
  font-family: "MuseoSans100";
  color:#767676;
  padding-top:40px;
  font-size: 11px;
  letter-spacing: .6px;
}

footer a {
  font-size: 11px;
  letter-spacing: .6px;
  color:#767676;
}

footer ul li {
  display: block;
  line-height: 25px;
}

footer .col-1 li:first-child {
  font-family: "MuseoSans900";
  font-weight: 900;
  font-size: .8em;
  text-transform: uppercase;
  color:#b7b6b5;
}
footer .blog_items li {
  line-height: 15px;
  padding: 5px 0;
}

footer .blog_items li:nth-child(3) {
  border-top: 1px solid rgba(118, 118, 118, .4);
  border-bottom: 1px solid rgba(118, 118, 118, .4);
  margin:5px 20px 0 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer .blog_items li:last-child{margin-top: 5px;}

footer .social {margin-top: 10px;}

footer .social-item {
  padding-right: 11px;
}