/*-- Grid System --*/
.grid-container {
    width: 100%;
    max-width: 1680px;
    /*margin:0 auto;*/
    box-sizing:border-box;
}

/*-- cleafix hack -- */
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}
.outline, .outline *{
    outline: 1px solid #F6A1A1;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

[class*='col-'] {
    float: left;
    min-height: 1px;
}

/*-- General Styling --*/

a{
  text-decoration: none;
  color:#b7b6b5;
  font-size: .8em;
}


ul{
  text-align: center;
  list-style-type: none;
}

ul li{
  text-decoration: none;
  display: inline;
}

/*#bg img {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: auto;
}*/

/*-- Adventure blocks --*/
.adventures{position: relative;}


/*-- Carousel --*/
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
  float: left;
}

/*-- Header Styles --*/
header{
  height: 50px;
  background-color:#4b4946;
  width: 100%;
}

header ul{
  margin:0;
  padding:20px 5px 5px 0;
}

nav{
  height:70px;
  width: 100%;
  background-color:#2d2b2a;
  margin:0 auto;
}

.logo{
  color:#fff;
}