@font-face {
  font-family: "MuseoSans100";
  src: url(../fonts/MuseoSans_100.otf);
}
@font-face {
  font-family: "MuseoSans500";
  src: url(../fonts/MuseoSans_500.otf);
}
@font-face {
  font-family: "MuseoSans900";
  src: url(../fonts/MuseoSans_900.otf);
}
@font-face {
  font-family: "MuseoSans300";
  src: url(../fonts/MuseoSans_300.otf);
}
@font-face {
  font-family: "MuseoSlab500";
  src: url(../fonts/Museo_Slab_500.otf);
}

/*-- Grid System --*/
body {

}
.grid-container {
  width: 100%;
  max-width: 1680px;
  min-width: 1090px;
  box-sizing:border-box;
}

/*-- cleafix hack -- */
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

.outline, .outline *{
  outline: 1px solid #F6A1A1;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%; height:auto; vertical-align: bottom; }

.col-1-pix {width: 20%;height:auto;}
.col-2-pix {width: 40%;height:auto;}
.col-3-pix {width: 60%;height:auto;}
.col-4-pix {width: 80%;height:auto;}
.col-5-pix {width: 100%;height:auto;}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

/*-- General Styling --*/
.clearfix {
  clear:both;
}

a {
  text-decoration: none;
  color:#b7b6b5;
  font-size: .8em;
}

a:hover {color: #96c900;}

ul {
  text-align: left;
  list-style-type: none;
}

ul li {
  text-decoration: none;
  display: inline;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

div {
  display: block;
}
main {
display: block;
max-width: 1450px;
}


.adventures {
  display: block;
  max-width:100%;
  font-family: "MuseoSans_300";
}

.adventures .teasers {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.adventures .info,
.adventures .more_info {
  position: relative;
  margin: 0;
  padding: 0;
}

.adventures .offer,
.adventures .upgrade {
  width: 25%;
  height:auto;
  position: relative;
  float:left;
  margin: 0;
  padding:0;
}

.more_info {display: none;}

.adventures .upgrade {
  display:none;
}

.adventures .fig_caption {
  height: 30%;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  border-right: 1px solid #ddd;
  color:#000;
  font-family: "MuseoSans500";
  font-size:1.2em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
}

.adventures ul li {
display: block;
text-align: center;
}

.adventures ul:first-child {
  padding-top: 15px;
}


.adventures img {
  width: 100%;
  height:100%;
  display: block;
}

.adventures .figure a:hover {
  opacity: .5;
}
