@font-face {
  font-family: "MuseoSans100";
  src: url(../fonts/MuseoSans_100.otf);
}
@font-face {
  font-family: "MuseoSans500";
  src: url(../fonts/MuseoSans_500.otf);
}
@font-face {
  font-family: "MuseoSans900";
  src: url(../fonts/MuseoSans_900.otf);
}
@font-face {
  font-family: "MuseoSans300";
  src: url(../fonts/MuseoSans_300.otf);
}
@font-face {
  font-family: "MuseoSlab500";
  src: url(../fonts/Museo_Slab_500.otf);
}

/*-- Grid System --*/
body {

}
.grid-container {
  width: 100%;
  max-width: 1680px;
  min-width: 1090px;
  box-sizing:border-box;
}

/*-- cleafix hack -- */
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

.outline, .outline *{
  outline: 1px solid #F6A1A1;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%; height:auto; vertical-align: bottom; }

.col-1-pix {width: 20%;height:auto;}
.col-2-pix {width: 40%;height:auto;}
.col-3-pix {width: 60%;height:auto;}
.col-4-pix {width: 80%;height:auto;}
.col-5-pix {width: 100%;height:auto;}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

/*-- General Styling --*/
.clearfix {
  clear:both;
}

a {
  text-decoration: none;
  color:#b7b6b5;
  font-size: .8em;
}

a:hover {color: #96c900;}

ul {
  text-align: left;
  list-style-type: none;
}

ul li {
  text-decoration: none;
  display: inline;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

div {
  display: block;
}
main {
display: block;
max-width: 1450px;
}

/*-- Search --*/
.search_bar {
  width: 714px;
  height:51px;
  border-radius: 8px;
  background-color:rgba(0, 0, 0, 0.3);
  position: absolute;
  top:200px;
  left:25%;

}

.search_bar input {
  border-radius: 3px;
  border: none;
  height: 27px;
  font-family: "MuseoSans100";
  color:#767676;
  font-size: 13px;
  letter-spacing: .6px;
}

.search_bar div {display: inline-block;}



.search_bar ul {margin:11px 0 0 0; padding-left:12px;}

.search_bar .search {
  background-color:#ff9933;
  color: #fff;
  text-align: left;
  width: 27px;
  border: none;
}

.search_bar li:last-child .fa {
  color:#fff;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  color:#bababa;
  pointer-events: none;
}

/* align icon */
.right-addon .fa { right: 6px;top:6px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

